.top{
    width: 90%;
    height: 50px;
    background-color:transparent;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;
    color: white;
    z-index: 999;
   margin-top: 30px;


}

.topleft{
    flex: 6;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    

}

.topList{
    display: flex;
    justify-content: center;
    list-style: none;
    border: solid 1px;
    border-radius: 10px;
    border-style: inset;
    border-color: #782a8d;

}
.topListItem{
    margin: 20px;
    padding-right: 30px;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    border-right: solid 1px;
    border-color: #782a8d;
}
.topListItem:last-child{
    border-right: none;
}

