.sidebar{
    flex: 4;
    margin: 0px;
    padding-bottom: 30px;
    background-color: #151443;
    font-display: flex;
    align-items: left;
}
.sidebarItem{
    display: flex;
    flex-direction: column;
    align-items: left;
}
.sidebarTitle{
    margin: 10px;
    padding: 20px;
    width: 80%;
    font-family:  'Roboto', sans-serif;
    font-size: 35px;
    color: white;
    font-weight: 400;
    line-height: 24px;
    text-align: center;

}


.sidebarItem > p{
    padding: 30px;
    font-family:  'Roboto', sans-serif;
    font-size: 18px;
    color: rgb(106, 103, 103);
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
.sidebarButton{
    width: 240px;
    height: 90px;
    border-radius: 50px 0px;
    color: white;
    font-family:  'Roboto', sans-serif;
    background-color: #0c0b33;
    border: none;
    font-size: 28px;
    font-weight: 300;
    box-shadow: 3mm;
    box-shadow: -10px -10px #151443, -12px -12px #782a8d;
    margin-top: 80px;

}


